
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

body {
  font-family: 'Spectral SC';
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  background: url('./img/svg/Hero.svg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header_wrapper {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  display: flex;
}

.header_item {
  margin-right: 20px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: .75;
}

.main {
  margin-top: 80px; 
}

.searchResults {
  
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rssFeed {
  margin-bottom: 20px;
  margin-top: 20px;
}

.backButton {
  position: fixed;
  bottom: 20px; /* Відступ від низу сторінки */
  left: 50%;
  transform: translateX(-50%); /* Центрування по горизонталі */
  z-index: 1000; /* Високий z-index щоб бути поверх всього */
}

.backButton .button {
  
  
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.backButton .button:hover,
.backButton .button:focus,
.backButton .button:active {
  background-color: #0056b3;
}









